Windows8_Controls/Windows8_Controls_Showcase/SampleData/MainHubSampleDataSource/MainHubSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.MainHubSampleDataSource" targetNamespace="Expression.Blend.SampleData.MainHubSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MainHubSampleDataSource" type="tns:MainHubSampleDataSource" />
  <xs:complexType name="MainHubSampleDataSource">
    <xs:sequence>
      <xs:element name="Groups" type="tns:Groups1" />
    </xs:sequence>
    <xs:attribute name="PageTitle" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Groups1">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="GroupsItem1" type="tns:GroupsItem1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupsItem1">
    <xs:sequence>
      <xs:element name="Items" type="tns:Items1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Items1">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ItemsItem1" type="tns:ItemsItem1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemsItem1">
    <xs:attribute name="title" type="xs:string" />
    <xs:attribute name="img" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>